fastapi
bcrypt
python-jose
python-multipart
uvicorn
black
asyncpg
mypy
pytest
python-dotenv
cffi
pyyaml
aiomysql
cryptography
passlib
pytest-asyncio
pymysql
docker
dependency-injector
pytest-dependency
pytest-cov
httpx